
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsfooter{
    <script src="/Assets/UI/js/jsController/CartController.js"></script>
}
<div>
    <span class="alert alert-danger">Mua hàng thành công</span>
    <button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
</div>
